{% extends 'base.html.twig' %}

{% block title %}Reset Password
{% endblock %}

{% block body %}
	<div class="block">
		<h1 class="mb-20">Réinitialisation du mot de passe</h1>

		{{ form_start(form) }}
		{{ form_rest(form) }}
		<button class="btn btn-primary">Réinitialiser mon mot de passe</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
