<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

	</head>
	<body>
		{% apply inline_css(source('@email_css/email.css')) %}


		<h1>Bonjour
			{{ username}}</h1>
		<p>Vous avez fait une demande de réinitialisation de mot de passe</p>
		<p>Pour finaliser votre demande vous pouvez cliquer sur le lien ci-dessous dans les 2h suivant votre demande.</p>
		<a href="{{ url('reset-password',{token: token}) }}">Changer mon mot de passe</a>

		{% endapply %}
	</body>
</html>
