.flash {
    padding: 20px;
    text-align: center;
    color: var(--primary-light);
}

.flash-success {
    background-color: var(--success);
}

.flash-error {
    background-color: var(--warning);
}